@import '../../global';

.reason {
    display: flex;
    
    & .img {
        flex: 3;

        & img:nth-child(1){
            object-position: top;
        }
    }
    & .content {
        flex: 2;
        font-size: 2.4rem;
    }
    
}